@media screen and (max-width:780px) {
	body {
		margin:0 auto;
		background-color:#f5f5f5;
	}
	.page-2 {
		width:100%;
	}
	.title {
		background-color:#fff;
		padding:10px;
		text-align:center;
		box-shadow:2px 2px 5px #DDDDDD; /*位置、、模糊、顏色*/
	}
	.title span {
		font-size:1.5rem;
		font-weight:bold;
		color:#0B9E5F;
	}
	ol {
		list-style:none;
		padding:0;
	}
	input, select {
		height:1.8rem;
	}
		/*前三塊*/
	.receipt {
		background-color:#fff;
		margin:0.8rem 0.8rem;
		border-radius:3px;
		max-width:720px;
		padding:10px 15px;
		box-shadow:2px 2px 5px #DDDDDD; /*位置、、模糊、顏色*/
	}
	.receipt li {
		color:#26302C;
		font-weight:600;
		font-size:1.2rem;
	}
	.receipt li:nth-child(1) {
		border-left:4px solid #0B9E5F;
		padding-left:3px;
		margin-bottom:0.3rem;
	}

	li.num {
		border:1px solid #EFEFEF;
		background-color:#F9F9F9;
		color:#898989;
		font-size:1.3rem;
		letter-spacing:1px;
	}
	/*小計*/
	.sum {
		display:table;
	}
	.sum li {
		display:table-cell;
	}
	.sum1{
		padding-right:1.2rem;
	}
	.sum2 {
		border:1px solid #EFEFEF;
		padding:3px 0 1px 15px;
		font-size:1.3rem !important;
	}
	.sum span {
		color:#26302C;
		font-weight:900;		
	}
	/*按鈕*/

	.btn {
		height:2rem;
		font-size:16px;
		background-color:#fff;
	}
	.btn:nth-child(1) {
		margin-left:0.8rem;
	}
}
/*PC版*/

@media screen and (min-width:781px) and (max-width:9999px) {
	
	body {
		margin:0 auto;
		background-color:#f5f5f5;
	}
	
	.page-2 {
		width:100%;
	}
	.title {
		background-color:#fff;
		padding:10px;
		text-align:center;
		box-shadow:2px 2px 5px #DDDDDD; /*位置、、模糊、顏色*/
	}
	.title span {
		font-size:1.5rem;
		font-weight:bold;
		color:#0B9E5F;
	}
	ol {
		list-style:none;
		padding:0;
	}
	input, select {
		height:1.8rem;
	}
	.receipt {
		background-color:#fff;
		margin:0.8rem auto;
		border-radius:3px;
		max-width:1000px;
		padding:10px 15px;
		box-shadow:2px 2px 5px #DDDDDD; /*位置、、模糊、顏色*/
	}
	.receipt ol {
		display:table;
	}
	.receipt li {
		color:#26302C;
		font-weight:600;
		font-size:1.2rem;
		display:table-cell;
	}
	.receipt li:nth-child(1) {
		border-left:4px solid #0B9E5F;
		padding-left:3px;
		margin-bottom:0.3rem;
	}
	li.margin-space{
		padding-right:0.6rem;
	}
	li.num {
		border:1px solid #EFEFEF;
		background-color:#F9F9F9;
		color:#898989;
		font-size:1.3rem;
		letter-spacing:1px;
	}
	.receipt-cato, .receipt-date {
		padding-left:0.8rem;
	}
	/*小計*/
	.sum {
		display:table;
	}
	.sum li {
		display:table-cell;
	}
	.sum1{
		padding-right:1.2rem;
	}
	.sum2 {
		border:1px solid #EFEFEF;
		padding:3px 0 ;
		text-align:right;
		min-width:100px;
		font-size:1.3rem !important;
	}
	.sum span {
		color:#26302C;
		font-weight:900;		
	}
	/*按鈕*/
	p {
		text-align:center;
	}
	p  input{
		margin:0 auto;
		font-size:1rem;
	}
}